/************BASE STRUCTURE: STYLING OF PARENT LEVEL ELEMENTS************/

html, body {
  color: #222;
  font-family: 'Vollkorn', serif;
  font-size: 16px;
  height: 100%;
}

::selection {
  background: #00E600; /* Safari */
  }
::-moz-selection {
  background: #00E600; /* Firefox */
}

a {
  color: #41a30d;
  text-decoration: none;
}

a:hover {
  text-decoration: overline underline;
}

h1, h2, h3, h4, h5, h6, th {
  font-weight: 400;
}

ul {
  list-style-type: none;
   padding: 0;
}

/* TABLE STYLES */

tr:nth-child(even){
  background: #CCC;
}
tr:nth-child(odd) {
  background: #FFF;
}

th {
  font-style: oblique;
  text-align: left;
}

canvas {
  margin-top: 20px;
}

/* MASTER FORM STYLES */

input[type=submit], button {
  background-color: #222;
  border: none;
  color: #fff;
  margin: auto;
  padding: 5px 4px;
}

input[type=submit]:hover {
  background-color: #41a30d;
}

input[type=range] {
  background-color: #41a30d;
  color: #41a30d;
}

input:focus, textarea:focus {
  border: 3px solid #41a30d;
  outline: none;
}

label {
  font-size: 18px;
}


/************BASE STYLES: ERRORS, DIVIDERS, ETC.************/
.errors {
  color:  #a64027;
}

.divider {
  border-top: 1px dotted #41a30d;
}

.center {
  text-align: center;
}

.italics {
  font-style: oblique;
}

/************HEADER AND FOOTER************/

/* Header */

header {
  background-color: #222;
  color: #fff;
  padding: 10px 0px;
  width: 100%;
}

header a, footer a {
  color: #fff;
}

header a:hover, footer a:hover {
  color: #41a30d;
  text-decoration: none;
}

header .brand, footer p {
  margin-left: 5%;
}

header #nav, footer nav {
  float: right;
  display: inline;
  margin-right: 5%;
}

.floatingHeader {
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
}

.thanks {
  text-align: center;
  color: #41a30d;
}

/* Footer */
footer, #content:after {
  height: 42px;
}

footer {
  background-color: #222;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  display: inline;
  float: left;
  margin-top: 12px;
}

footer nav {
  margin-top: 12px;
}


/************CONTENT************/

#content {
  margin: 40px 5% 40px 5%;
  margin-bottom: -50px;
  min-height: 100%;
  min-width: 600px;
  padding-bottom: 100px;
}

#content:after {
  content: "";
  display: block;
}

.survey-category {
  float: left;
  width: 50%;
}

.submit-survey {
  margin-top: 20px;
  margin-left: -20px;
  margin-bottom: 20px;
  position: relative;
}

.submit-survey input[type=text] {
  width: 500px;
}


/* Home Page */
#sign-up input {
  padding: 20px 30px;
  font-size: 1.5em;
}

.welcome, .call-to-action {
  margin: 60px 0px;
}

.welcome h1, .welcome h3 {
  display: inline;
}

.welcome h1 {
  font-size: 45px;
}

.welcome h3 {
 float: right;
 font-size: 25px;
 margin-top: 12px;
}

.call-to-action form {
  margin: auto;
  width: 570px;
}


/* User Forms */
.user-form {
  margin: auto;
  width: 60%;
}

.user-form input {
  display: block;
  margin: 10px 0px;
  width: 100%;
}

.user-form input[type=submit] {
  width: 100px;
}

.user-form input[type=submit]:hover {
  background-color: #41a30d;
}

/* User Dashboard */
/* Welcome Message */
.dash-nav {
  float: right;
  display: inline;
  margin: 1.75em 0px;
}

.dash-welcome {
  float: left;
  display: inline;
}

/* User Dashboard */
/* Create A New Survey */

#create-survey {
  clear: both;
}

#create-survey form {
    padding: 30px 0px;
}

#create-survey input {
  display: block;
  margin: 10px 0px;
  width: 100%;
}

#create-survey input[type=submit] {
  margin-top: 20px;
  width: 10%;
}

/* User Dashboard */
/* Your Surveys */
.your-surveys {
  margin: 30px 0px;
  width: 100%;
}

/* Survey Responses Overview Page */
.survey_responses {
  padding: 0;
  padding-left: 20px;
}

.survey_responses li, #questions li {
 color: #41a30d;
 font-size: 20px;
 margin: 75px 0px;
}

.survey_responses li:first-child, #questions li:first-child {
  margin-top: 20px;
}

.survey_responses li table {
  color: #222;
  font-weight: 400;
  width: 100%;
}

.survey_responses li table th {
  font-style: oblique;
  font-size: 20px;
}

.no-response {
  color: #222;
  font-weight: 400;
}

/************CREATE QUESTIONS************/

#new-question input:not([type=submit]) {
  width: 100%;
}

.question {
  margin-top: 20px;
}

.question form {
  margin-top: 10px;
}

#add-question input[type=submit] {
  float: left;
  margin-right: 20px;
}

#add-question button {
  display: inline;
}

#questions {
  margin-top: 50px;
  padding: 0;
  padding-left: 25px;
}

#questions input:not([type=submit]) {
  width: 50%;
}

#questions input[type=radio] {
  width: 20px;
}

#questions input[type=checkbox] {
  width: 20px;
}

#questions input[type=submit] {
  float: right;
}

/************TAKE A SURVEY, YO************/

/* Survey Submit Page */

#questions li span {
  color: #222;
}

.submit-survey input {
  display: inline-block;
}

.submit-survey input[type=submit]{
  background-color: #41a30d;
  color: #fff;
  display: block;
  font-size: 20px;
  position: absolute;
  top: 50px;
}


/************DBC SKELETON DEFAULTS************/
.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

